[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
awscli = "*"
canvasapi = "*"
pandas = "*"
environs = "*"
xlrd = "*"
openpyxl = "*"
pyarrow = "*"
python-git = "*"
gitpython = "*"

    csci-utils = {editable = true,git = "https://github.com/csci-e-29/2021sp-csci-utils-yunhao-yang"}


[requires]
python_version = "3.8"
